
@font-face {
    font-family: "NotoSanLao";
    src: url("../font/NotoSansLaoUI-Regular.ttf");
  }

.NotoSanFont{
    font-family: NotoSanLao;
}

.vl{
  border-right: 1px solid black;
  height: 500px;
}